<div class="form-group">
    <label for="@FieldId">@Label</label>
    <InputNumber Value="@Value"
                 ValueChanged="@ValueChanged"
                 ValueExpression="@ValueExpression"
                 id="@FieldId"
                 class="@CssClass"
                 disabled="@Disabled" />
    <ValidationMessage For="@ValueExpression" />
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string FieldId { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    [Parameter]
    public Expression<Func<int>> ValueExpression { get; set; }
}
