<table class="table table-striped">
    <thead>
        <tr>
            <th>EAN Code</th>
            <th>SKU Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>On sale</th>
            <th>Unit in stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Products.Items)
        {
            <tr>
                <td>@product.EanCode</td>
                <td>@product.Sku</td>
                <td>@product.Name</td>
                <td>@product.Price?.ToString()</td>
                <td>
                    @if (product.IsOnSale)
                    {
                        <i class="fas fa-check" style="color:green;"></i>
                        <span>@product.OnSaleFrom?.ToShortDateString() - @product.OnSaleTo?.ToShortDateString()</span>
                    }
                    else
                    {
                        <i class="fas fa-times" style="color:red;"></i>
                    }
                </td>
                <td>@product.UnitInStock</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Product actions">
                        <button type="button" class="btn btn-outline-primary" @onclick="() => OpenProductDetail(product)">
                            <i class="far fa-eye"></i> View
                        </button>
                        @if (!product.Deleted)
                        {
                            <button type="button" class="btn btn-outline-danger" @onclick="() => DeleteProduct(product)">
                                <i class="far fa-trash-alt"></i> Delete
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-outline-primary" @onclick="() => RestoreProduct(product)">
                                <i class="fas fa-undo-alt"></i> Restore
                            </button>
                        }
                        <div class="btn-group" role="group" aria-label="Other actions">
                            <button type="button" id="@($"productActions_{product.Id}")" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
                            <div class="dropdown-menu" aria-labelledby="@($"productActions_{product.Id}")">
                                <a class="dropdown-item" href="@($"catalog/products/{product.Id}/attributes")">Attributes</a>
                                <a class="dropdown-item" href="#">Tier prices</a>
                                <a class="dropdown-item" href="#">Images</a>
                                <a class="dropdown-item" href="#">Reviews</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<Modal @ref="confirmDeleteModal">
    <ModalBackdrop />
    <ModalContent Size="ModalSize.Default">
        <ModalHeader>
            <ModalTitle>Delete Product @selectedProduct?.Name</ModalTitle>
            <CloseButton @onclick="() => CloseModal(confirmDeleteModal)" />
        </ModalHeader>
        <ModalBody>
            <h6>You are going to delete the product @selectedProduct?.Name. Are you sure?</h6>
        </ModalBody>
        <ModalFooter>
            <button type="button" class="btn btn-outline-secondary" @onclick="() => CloseModal(confirmDeleteModal)">No</button>
            <button type="button" class="btn btn-primary" @onclick="ConfirmDeleteProduct">Yes!</button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="confirmRestoreModal">
    <ModalBackdrop />
    <ModalContent Size="ModalSize.Default">
        <ModalHeader>
            <ModalTitle>Restore Product @selectedProduct?.Name</ModalTitle>
            <CloseButton @onclick="() => CloseModal(confirmRestoreModal)" />
        </ModalHeader>
        <ModalBody>
            <h6>You are going to restore the product @selectedProduct?.Name. Are you sure?</h6>
        </ModalBody>
        <ModalFooter>
            <button type="button" class="btn btn-outline-secondary" @onclick="() => CloseModal(confirmRestoreModal)">No</button>
            <button type="button" class="btn btn-primary" @onclick="ConfirmRestoreProduct">Yes!</button>
        </ModalFooter>
    </ModalContent>
</Modal>