<EditForm Context="context" Model="Model" OnValidSubmit="HandleSubmit" class="col-md-12 mt-3">
    <DataAnnotationsValidator />

    @if (Readonly && !editingEnabled)
    {
        <div class="form-group">
            <button type="button" class="btn btn-outline-secondary" @onclick="EnableEditing">Edit data</button>
        </div>
    }

    <TextField Label="Code"
               FieldId="@nameof(Model.Code)"
               CssClass="@formControlClass"
               Disabled="@(!editingEnabled)"
               @bind-Value="Model.Code"/>
    
    <TextField Label="Name"
               FieldId="@nameof(Model.Name)"
               CssClass="@formControlClass"
               Disabled="@(!editingEnabled)"
               @bind-Value="Model.Name"/>
    
    <TextField Label="Url"
               FieldId="@nameof(Model.Url)"
               CssClass="@formControlClass"
               Disabled="@(!editingEnabled)"
               @bind-Value="Model.Url"/>
    
    <CheckboxField Label="Visible"
                   FieldId="@nameof(Model.IsVisible)"
                   Disabled="@(!editingEnabled)"
                   @bind-Value="Model.IsVisible"/>
    
    @if (Model.IsVisible)
    {
        <div class="row">
            <div class="col">
                <DateField Label="From"
                           FieldId="@nameof(Model.VisibleFrom)"
                           CssClass="@formControlClass"
                           Disabled="@(!editingEnabled)"
                           @bind-Value="Model.VisibleFrom"/>
            </div>
            <div class="col">
                <DateField Label="To"
                           FieldId="@nameof(Model.VisibleTo)"
                           CssClass="@formControlClass"
                           Disabled="@(!editingEnabled)"
                           @bind-Value="Model.VisibleTo"/>
            </div>
        </div>
    }

    <TextAreaField Label="Description"
                   FieldId="@nameof(Model.Description)"
                   CssClass="@formControlClass"
                   Disabled="@(!editingEnabled)"
                   @bind-Value="Model.Description"/>

    @if (!Readonly || editingEnabled)
    {
        <div class="form-group align-content-end">
            <button type="reset" class="btn btn-outline-primary mr-3" @onclick="Cancel">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</EditForm>
