<table class="table table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Url</th>
            <th>Visible</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Categories.Items)
        {
            <tr>
                <td>@category.Code</td>
                <td>@category.Name</td>
                <td>@category.Url</td>
                <td>
                    @if (category.IsVisible)
                    {
                        <i class="fas fa-check" style="color:green;"></i>
                        <span>@category.VisibleFrom?.ToShortDateString() - @category.VisibleTo?.ToShortDateString()</span>
                    }
                    else
                    {
                        <i class="fas fa-times" style="color:red;"></i>
                    }
                </td>
                <td class="col-auto">
                    <button type="button" class="btn btn-outline-primary" @onclick="() => OpenCategoryDetail(category)">
                        <i class="fas fa-edit"></i> Edit
                    </button>
                </td>
                <td>
                    @if (!category.Deleted)
                    {
                        <button type="button" class="btn btn-outline-danger" @onclick="() => DeleteCategory(category)">
                            <i class="far fa-trash-alt"></i> Delete
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-outline-primary" @onclick="() => RestoreCategory(category)">
                            <i class="fas fa-undo-alt"></i> Restore
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<Modal @ref="confirmDeleteModal">
    <ModalBackdrop />
    <ModalContent Size="ModalSize.Default">
        <ModalHeader>
            <ModalTitle>Delete Category @selectedCategory?.Name</ModalTitle>
            <CloseButton @onclick="() => CloseModal(confirmDeleteModal)" />
        </ModalHeader>
        <ModalBody>
            <h6>You are going to delete the category @selectedCategory?.Name. Are you sure?</h6>
        </ModalBody>
        <ModalFooter>
            <button type="button" class="btn btn-outline-secondary" @onclick="() => CloseModal(confirmDeleteModal)">No</button>
            <button type="button" class="btn btn-primary" @onclick="ConfirmDeleteCategory">Yes!</button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="confirmRestoreModal">
    <ModalBackdrop />
    <ModalContent Size="ModalSize.Default">
        <ModalHeader>
            <ModalTitle>Restore Category @selectedCategory?.Name</ModalTitle>
            <CloseButton @onclick="() => CloseModal(confirmRestoreModal)" />
        </ModalHeader>
        <ModalBody>
            <h6>You are going to restore the category @selectedCategory?.Name. Are you sure?</h6>
        </ModalBody>
        <ModalFooter>
            <button type="button" class="btn btn-outline-secondary" @onclick="() => CloseModal(confirmRestoreModal)">No</button>
            <button type="button" class="btn btn-primary" @onclick="ConfirmRestoreCategory">Yes!</button>
        </ModalFooter>
    </ModalContent>
</Modal>
