<EditForm Context="context" Model="Model" OnValidSubmit="HandleSubmit" class="col-md-12 mt-3">
    <DataAnnotationsValidator />

    @if (Readonly && !editingEnabled)
    {
        <div class="form-group">
            <button type="button" class="btn btn-outline-secondary" @onclick="EnableEditing">Edit data</button>
        </div>
    }

    <TextField Label="Title"
               FieldId="@nameof(Model.Title)"
               CssClass="@formControlClass"
               Disabled="@(!editingEnabled)"
               @bind-Value="Model.Title"/>

    <TextField Label="Description"
               FieldId="@nameof(Model.Description)"
               CssClass="@formControlClass"
               Disabled="@(!editingEnabled)"
               @bind-Value="Model.Description"/>

    <TextField Label="Description"
               FieldId="@nameof(Model.Keywords)"
               CssClass="@formControlClass"
               Disabled="@(!editingEnabled)"
               @bind-Value="Model.Keywords"/>

    @if (!Readonly || editingEnabled)
    {
        <div class="form-group align-content-end">
            <button type="button" class="btn btn-outline-primary mr-3" @onclick="Cancel">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</EditForm>