<EditForm Context="context" Model="Model" OnValidSubmit="HandleSubmit" class="col-md-12 mt-3">
    <DataAnnotationsValidator />

    @if (Readonly && !editingEnabled)
    {
        <div class="form-group">
            <button type="button" class="btn btn-outline-secondary" @onclick="EnableEditing">Edit data</button>
        </div>
    }

    <TextField Label="Name"
               FieldId="@nameof(Model.Name)"
               CssClass="@formControlClass"
               Disabled="@(!editingEnabled)"
               @bind-Value="Model.Name"/>
    
    <SelectField TItem="string" 
                 TValue="string"
                 Label="Type"
                 FieldId="@nameof(Model.Type)"
                 CssClass="@formControlClass"
                 Disabled="@(!editingEnabled)"
                 Items="dataTypes"
                 EmptyText="Choose a data type"
                 DisplayValue="type => type"
                 OptionValue="type => type"
                 @bind-Value="Model.Type"/>

    <TextField Label="Unit of measure"
               FieldId="@nameof(Model.UnitOfMeasure)"
               CssClass="@formControlClass"
               Disabled="@(!editingEnabled)"
               @bind-Value="Model.UnitOfMeasure"/>
    
    <TextAreaField Label="Description"
                   FieldId="@nameof(Model.Description)"
                   CssClass="@formControlClass"
                   Disabled="@(!editingEnabled)"
                   @bind-Value="Model.Description"/>

    @if (!Readonly || editingEnabled)
    {
        <div class="form-group align-content-end">
            <button type="reset" class="btn btn-outline-primary mr-3" @onclick="Cancel">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</EditForm>