<EditForm Context="context" Model="Model" OnValidSubmit="HandleSubmit" class="col-md-12 mt-3">
    <DataAnnotationsValidator />

    @if (Readonly && !editingEnabled)
    {
        <div class="form-group">
            <button type="button" class="btn btn-outline-secondary" @onclick="EnableEditing">Edit data</button>
        </div>
    }

    <TextField Label="Name"
               FieldId="@nameof(Model.Name)"
               CssClass="@formControlClass"
               Disabled="@(!editingEnabled)"
               @bind-Value="Model.Name"/>
    
    <div class="form-group">
        <label for="@nameof(Model.Type)">Type</label>
        <InputSelect @bind-Value="Model.Type" class="@formControlClass">
            <option>Choose a data type</option>
            @foreach (var type in dataTypes)
            {
                <option value="@type">@type</option>
            }
        </InputSelect>
        <ValidationMessage For="() => Model.Type" />
    </div>

    <TextField Label="Unit of measure"
               FieldId="@nameof(Model.UnitOfMeasure)"
               CssClass="@formControlClass"
               Disabled="@(!editingEnabled)"
               @bind-Value="Model.UnitOfMeasure"/>
    
    <TextAreaField Label="Description"
                   FieldId="@nameof(Model.Description)"
                   CssClass="@formControlClass"
                   Disabled="@(!editingEnabled)"
                   @bind-Value="Model.Description"/>

    @if (!Readonly || editingEnabled)
    {
        <div class="form-group align-content-end">
            <button type="reset" class="btn btn-outline-primary mr-3" @onclick="Cancel">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
</EditForm>